@model Bibliotheek.Models.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span8 page-content">

    <article class="type-page hentry clearfix">
        <h1 class="post-title">
            <a href="#">Registreren</a>
        </h1>
        <hr>
    </article>
    @using (Html.BeginForm("Login", "Account",
        new { ViewBag.ReturnUrl },
        FormMethod.Post, new { @id = "contact-form", @class = "row" }))
    {

        <div class="span2">
        </div>
        <div class="span6">
            @ViewBag.Error
        </div>
        
        <div class="span2">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="span6">
            @Html.TextBoxFor(model => model.Email, new { @class = "input-xlarge" })
            @Html.ValidationMessageFor(model => model.Email)
            <span id="returnData"></span>
        </div>

        <div class="span2">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="span6">
            @Html.PasswordFor(model => model.Password, new { @class = "input-xlarge" })
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="span6 offset2 bm30">
            <input type="submit" name="submit" value="Voeg toe" class="btn btn-inverse" disabled>
            <img src="../../Images/loading.gif" id="contact-loader" alt="Laden...">
        </div>

        <div class="span6 offset2 error-container"></div>
        <div class="span8 offset2" id="message-sent"></div>
    }
</div>

<aside class="span4 page-sidebar">
    @Html.Partial("_NewBook")
</aside>

@section scripts {
    <script type="text/javascript">
        function checkMail() {
            var url = "/Home/MailCheck";
            var mail = $('#Email').val();
            $.get(url, { input: mail }, function (data) {
                if (data == "true") {
                    $("#returnData").html("");
                } else {
                    $("#returnData").html("Dit is geen geldig email adres");
                }
                disableEnable();
            });
        }

        function disableEnable() {
            if ($("#returnData").html() == "" && $('#Paassword').val() != "" && $('#Email').val() != "") {
                $("input[type=submit]").removeAttr("disabled");
            } else {
                $("input[type=submit]").attr("disabled", "disabled");
            }
        }

        $('#Email').keyup(function () {
            checkMail();
        });

        $('#Email').change(function () {
            checkMail();
        });

        $('input').keyup(function () {
            disableEnable();
        });

        $('input').change(function () {
            disableEnable();
        });
    </script>
}