@model Bibliotheek.Models.BookModel
@{
    ViewBag.Title = "Boek toevoegen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span8 page-content">

    <article class="type-page hentry clearfix">
        <h1 class="post-title">
            <a href="#">Nieuw boek toevoegen</a>
        </h1>
        <hr>
    </article>
    @using (Html.BeginForm("AddBook", "Book",
        new { ViewBag.ReturnUrl },
        FormMethod.Post, new { @id = "contact-form", @class = "row" }))
    {
        <div class="span2">
        </div>
        <div class="span6">
            @ViewBag.Error
        </div>

        <div class="span2">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="span6">
            @Html.TextBoxFor(model => model.Title, new { @class = "input-xlarge" })
            @Html.ValidationMessageFor(model => model.Title)
            <span id="returnData"></span>
        </div>

        <div class="span2">
            @Html.LabelFor(model => model.Author)
        </div>
        <div class="span6">
            @Html.TextBoxFor(model => model.Author, new { @class = "input-xlarge" })
            @Html.ValidationMessageFor(model => model.Author)
        </div>

        <div class="span2">
            @Html.LabelFor(model => model.Genre)
        </div>
        <div class="span6">
            @Html.DropDownListFor(model => model.Genre, Model.Genres, "Kies... ", new { @class = "input-285" })
        </div>

        <div class="span2">
            @Html.LabelFor(model => model.Isbn)
        </div>
        <div class="span6">
            @Html.TextBoxFor(model => model.Isbn, new { @class = "input-xlarge" })
            @Html.ValidationMessageFor(model => model.Isbn)
        </div>

    <div class="span2">
        @Html.LabelFor(model => model.Floor)
    </div>
    <div class="span6">
        @Html.DropDownListFor(model => model.Floor, Model.Floors, "Kies... ", new { @class = "input-143" }) @Html.DropDownListFor(model => model.Rack, Model.Racks, "Kies... ", new { @class = "input-142" })
    </div>

        <div class="span6 offset2 bm30">
            <input type="submit" name="submit" value="Voeg toe" class="btn btn-inverse" disabled>
            <img src="../../Images/loading.gif" id="contact-loader" alt="Laden...">
        </div>

        <div class="span6 offset2 error-container"></div>
        <div class="span8 offset2" id="message-sent"></div>
    }
</div>

<aside class="span4 page-sidebar">
    @Html.Partial("_NewBook")
</aside>

@section scripts {
    <script type="text/javascript">
        function disableEnable() {
            if ($('#Title').val() != "" && $('#Author').val() != "" && $('#Isbn').val() != "" && $('#Genre').val() != "" && $('#Floor').val() != "" && $('#Rack').val() != "") {
                $("input[type=submit]").removeAttr("disabled");
            } else {
                $("input[type=submit]").attr("disabled", "disabled");
            }
        }

        $('input').keyup(function () {
            disableEnable();
        });

        $('input').change(function () {
            disableEnable();
        });

        $('select').change(function () {
            disableEnable();
        });
    </script>
}