@using Bibliotheek.Models
<section class="widget">
    <h3 class="title">
        Laatste boeken
    </h3>
    <ul class="articles">
        @{
            var book = BookModel.GetNewBooks();
            var random = new Random();

            for (var i = 1; i <= book.Count / 5; i++)
            {
                <li class="article-entry standard">
                    <h4>@Html.ActionLink(book[i * 5 - 4], "SingleBook", "Book", new { id = book[i * 5 - 5] }, null) - @Html.ActionLink(book[i * 5 - 3], "SingleAuthor", "Book", new { name = book[i * 5 - 3] }, null) </h4>
                    <span class="article-meta"> @book[i * 5 - 1] in @Html.ActionLink(BookModel.DictGenreFromInt[Convert.ToInt16(book[i * 5 - 2])], "Genre", "Book", new { genre = book[i * 5 - 2] }, null)</span>
                    <span class="like-count"> @random.Next(100) </span>
                </li>
            }
        }
    </ul>
</section>