@using Bibliotheek.Models
<section class="widget">
    <h3 class="title">
        Laatste boeken
    </h3>
    <ul class="articles">
        @{
            var book = BookModel.GetNewBooks().Split('|');
            var random = new Random();

            <li class="article-entry standard">
                <h4>@Html.ActionLink(book[5], "SingleBook", "Book", new { id = book[0] }, null) - @Html.ActionLink(book[10], "SingleAuthor", "Book", new { name = book[10] }, null) </h4>
                <span class="article-meta"> @book[20] in @Html.ActionLink(BookModel.DictGenreFromInt[Convert.ToInt16(book[15])], "Genre", "Book", new { genre = book[15] }, null)</span>
                <span class="like-count"> @random.Next(100) </span>
            </li>

            <li class="article-entry standard">
                <h4>@Html.ActionLink(book[6], "SingleBook", "Book", new { id = book[1] }, null) - @Html.ActionLink(book[11], "SingleAuthor", "Book", new { name = book[11] }, null) </h4>
                <span class="article-meta"> @book[21] in @Html.ActionLink(BookModel.DictGenreFromInt[Convert.ToInt16(book[16])], "Genre", "Book", new { genre = book[16] }, null)</span>
                <span class="like-count">@random.Next(100) </span>
            </li>

            <li class="article-entry standard">
                <h4>@Html.ActionLink(book[7], "SingleBook", "Book", new { id = book[2] }, null) - @Html.ActionLink(book[12], "SingleAuthor", "Book", new { name = book[12] }, null) </h4>
                <span class="article-meta"> @book[22] in @Html.ActionLink(BookModel.DictGenreFromInt[Convert.ToInt16(book[17])], "Genre", "Book", new { genre = book[17] }, null)</span>
                <span class="like-count">@random.Next(100) </span>
            </li>

            <li class="article-entry standard">
                <h4>@Html.ActionLink(book[8], "SingleBook", "Book", new { id = book[3] }, null) - @Html.ActionLink(book[13], "SingleAuthor", "Book", new { name = book[13] }, null) </h4>
                <span class="article-meta"> @book[23] in @Html.ActionLink(BookModel.DictGenreFromInt[Convert.ToInt16(book[18])], "Genre", "Book", new { genre = book[18] }, null)</span>
                <span class="like-count">@random.Next(100) </span>
            </li>

            <li class="article-entry standard">
                <h4>@Html.ActionLink(book[9], "SingleBook", "Book", new { id = book[4] }, null) - @Html.ActionLink(book[14], "SingleAuthor", "Book", new { name = book[14] }, null) </h4>
                <span class="article-meta"> @book[24] in @Html.ActionLink(BookModel.DictGenreFromInt[Convert.ToInt16(book[19])], "Genre", "Book", new { genre = book[19] }, null)</span>
                <span class="like-count">@random.Next(100) </span>
            </li>
        }
    </ul>
</section>